[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input

[init]
  defaultBranch = main

[alias]
  snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
  snapshots = !git stash list --grep snapshot
  c = commit -m
  ca = commit -am
  amend = commit --amend --no-edit
  co = checkout
  cob = checkout -b
  d = diff
  l = log --graph --date=short --pretty=format:'%C(yellow)%h%Creset %C(auto)%d%Creset %s %C(green)(%cr) %C(bold blue)<%an>%Creset'
  changes = log --pretty=format:"%h %cr %cn %Cgreen%s%Creset" --name-status
  unstage = reset HEAD
  uncommit = reset --soft HEAD^
  st = status -sb
  br = branch
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  last = log -1 HEAD
  undo = reset HEAD~1 --mixed

[color]
  ui = true

[format]
  pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset

[apply]
  whitespace = nowarn

[branch]
  autosetupmerge = true

[push]
  default = upstream
  autoSetupRemote = true

[pull]
  rebase = true # Or false

[fetch]
  prune = true

[diff]
  mnemonicprefix = true
  algorithm = patience

[rerere]
  enabled = true

[advice]
  statusHints = false
